<!doctype html>
<html lang="en" ng-app="ShoppingListCheckOff">
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-5" ng-controller="ToBuyController as toBuy">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>To Buy</h4>
            </div>
            <ul class="list-group">
                <li ng-repeat="item in toBuy.shoppingList" class="list-group-item">Buy <span class="label label-primary">{{ item.quantity }}</span> {{ item.item }}
                    <button ng-click="toBuy.buyItem($index)" class="btn btn-success btn-xs pull-right">Bought</button>
                </li>
                <li ng-if="!toBuy.shoppingList.length" class="list-group-item list-group-item-success">Everything is bought!</li>
            </ul>
        </div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-5" ng-controller="AlreadyBoughtController as Bought">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Already Bought </h4>
            </div>
            <ul class="list-group">
                <li ng-repeat="item in Bought.shoppingList" class="list-group-item">Bought <span class="label label-default">{{ item.quantity }}</span> {{ item.item }}</li>
                <li ng-if="!Bought.shoppingList.length" class="list-group-item list-group-item-danger">Nothing bought yet ! </li>
            </ul>
        </div>
    </div>
  </div>
</div>

</body>
</html>
